
.contrast {
    -app-color-hi: #5bf900;
    -app-color-lo: black;
    -app-hover: #666666;
    -fx-background-color: -app-color-lo;
}

.map-pin {
    -fx-shape: "M13.558,0C6.07,0,0,6.07,0,13.558s13.558,22.346,13.558,22.346s13.558-14.858,13.558-22.346S21.045,0,13.558,0z
M13.558,20.762c-4.084,0-7.395-3.311-7.395-7.395s3.311-7.395,7.395-7.395c4.084,0,7.396,3.311,7.396,7.395
S17.642,20.762,13.558,20.762z";    
    -fx-background-color: black, white;
    -fx-background-insets: 0, 2;
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 10 );
    -fx-pref-width: 48;
    -fx-pref-height: 60;
}
.map-pin .arrow-button .arrow {
    -fx-padding: 0;
}
.contrast .map-pin {
    -fx-background-color: -app-color-lo, -app-color-hi;
}

.contrast .button,
.contrast .toggle-button {
    -fx-text-fill: -app-color-hi;
    -fx-background-color: -app-color-hi, -app-color-lo;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 2, 1;
}
.contrast .toggle-button:selected {
    -fx-background-color: -app-color-hi, -app-hover;
}
.contrast .button:hover,
.contrast .toggle-button:hover {
    -fx-background-color: -app-color-hi, -app-hover;
}
.contrast .toggle-button.left-pill {
    -fx-background-insets: 0, 2 1 2 2;
    -fx-background-radius: 2 0 0 2, 1 0 0 1;
}
.contrast .toggle-button.right-pill {
    -fx-background-insets: 0, 2 2 2 1;
    -fx-background-radius: 0 2 2 0, 0 1 1 0;
}

/*-------------------------- labels -------------------------- */

.contrast .label {    
    -fx-text-fill: -app-color-hi;
}

.contrast .slider .track {
    -fx-background-color: -app-color-hi, -app-color-lo;
    -fx-background-insets: 0, 1;    
}
.contrast .slider .thumb {
    -fx-background-color: -app-color-hi, -app-color-lo;    
    -fx-background-insets: 0, 2;
}
.contrast .slider .thumb:hover {
    -fx-background-color: -app-color-hi, -app-hover;
}

.contrast .list-view {
    -fx-background-color: -app-color-lo;
}
.contrast .list-view .list-cell .text {
    -fx-fill: -app-color-hi;
}
.contrast .list-view .list-cell {
    -fx-background-color: -app-color-lo;
}
.contrast .list-view .list-cell:filled:hover {
    -fx-background-color: -app-hover;
}
.contrast .list-view .list-cell:selected:filled:hover {
    -fx-background-color: -app-color-hi;
}
.contrast .list-view .list-cell:selected {
    -fx-background-color: -app-color-hi;
}
.contrast .list-view .list-cell:selected .text {
    -fx-fill: -app-color-lo;
}

/*------------------------ ScrollBars ------------------------ */

.contrast .scroll-bar .track-background {
    -fx-background-color: -app-color-lo;
}
.contrast .scroll-bar:vertical {
    -fx-background-color: -app-color-lo;
    -fx-background-insets: 0;
}
.contrast .scroll-bar:horizontal {
    -fx-background-color: -app-color-lo;
    -fx-background-insets: 0;
}
.contrast .scroll-bar .thumb {
    -fx-background-color: -app-color-hi, -app-color-lo;
}
.contrast .scroll-bar > .increment-button > .increment-arrow,
.contrast .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -app-color-hi;
}
.contrast .scroll-pane > .corner {
    -fx-background-color: -app-color-lo;
    -fx-background-insets: 0;
}

/*------------------------ SplitPane ------------------------- */

.contrast .split-pane {
    -fx-background-color: -app-color-lo;
}
.contrast .split-pane > .split-pane-divider {
    -fx-background-color: -app-color-lo;
}

.scrollPane{
    width:available;
    height: available;
        
}

.titulo{
    -fx-text-fill: darkblue;
    -fx-font-size: 24px;
    
}
.scroller{
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    -fx-scrollbar-color: grey;
    -fx-scrollbar-width: 10px;
}

.scroll-bar:vertical .track{
    background-color: grey;
    
}
.scroll-bar:vertical {
    -fx-background-color:#4B6283;
}
.thumb{
    -fx-background-color:#6666ff;
}

.scroll-pane{
    -fx-background-color: #4B6283;
}
.scrollPane:vertical .thumb{
    -fx-background-color: blueviolet;
}
.scrollPane:vertical {
    -fx-background-color:  #f0f8ff;
}

#scroll2:hover{
    background-color: #f0f8ff;
}
#texto{
    -fx-font-family: 'Macondo', cursive;
    -fx-font-size: 35px;
    -fx-text-fill:#f0f8ff;
    -fx-font-weight: 600;
}
#warning-text {
    -fx-text-fill: red;
    -fx-font-size: 13px;
}

#inicio-field{
    -fx-background-color:  #f0f8ff;
    -fx-border-color: darkgreen;
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-border-width: 2.5px;
    -fx-font-size: 15px;
}
#inicio-field:hover{
    -fx-background-color: lightgray;
/*    //-fx-filter: brightness(30%);*/
}

#texto-segundo{
    -fx-text-fill: black;
    -fx-font-size: 30px;
    
}

#VerPistas-button{
    -fx-font-size: 12px;
    -fx-border-radius: 3px 3px 3px 3px;
    -fx-background-radius: 3, 3, 3, 3;
    -fx-border-width: 1.5px;
    -fx-font-size: 20px;
    -fx-font-weight: 200;
    -fx-transition: -fx-border-width 2s;
    -fx-transition: background 2s;
}

#registrarse-button{
    -fx-background-color: #147EE0;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-border-radius: 3px 3px 3px 3px;
    -fx-background-radius: 3, 3, 3, 3;
    -fx-border-width: 1.5px;
    -fx-border-color: #1F93FD;
    -fx-font-size: 20px;
    -fx-font-weight: 200;
    -fx-transition: -fx-border-width 2s;
    -fx-transition: background 2s;
}
#registrarse-button:hover{
    
    -fx-border-color: #349CFB;
    
    -fx-transition: 3s ease-in-out;
    -fx-background-color: #4B6283;
    
}
#registrarse-button:active {
    -fx-border-width: 4px;
}

#grid-pane-b{
    -fx-background-color:#f0f8ff;
}

#pane-b{
    -fx-background-color: #6189C3;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 50, 0.5, 0.0, 0.0);
}
#title-b{
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-font-weight: 600;
}
#darker-pane-b{
    box-shadow: 0px 0px -10px 0px rgba(0, 0, 0, 0.5);
}
#clip-b{
    -fx-border-width: 2px;
    -fx-border-color: black;
}
#img{
    -fx-border-width: 20px;
    -fx-border-color: grey;
    
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -fx-user-drag: none;

}
#img:hover{
    -fx-border-color: red;
    -fx-color: red;
    
}
.clip{
    -fx-border-width: 2px;
    -fx-border-color: black;
}
#button-change{
    -fx-background-color: #147EE0;
    -fx-background-radius: 10, 10, 10, 10;
    -fx-text-fill: white;
    -fx-font-size: 8px;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-font-size: 12px;
    -fx-font-weight: 200;
    -fx-border-width: 1.5px;
    -fx-border-color: #1F93FD;
    
}
#button-change:hover{
    -fx-transition: 2.5s animate;
    -fx-border-color: #349CFB;
    -fx-border-width: 2px;
    
    
}
#choice-box1{
    -fx-border-radius: 80, 80, 80, 80;
    -fx-background-color: transparent;
}
#pane{
    -fx-background-color:white;
}
#table{
    -fx-grid-lines-visible: true;
    
}
#main-menu{
    
}

.scroll-bar{
    -fx-background-color: transparent;
    
}
#warning-text{
    -fx-text-fill: red;
}
#circle-arc{
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-background-color: opaque;
}
#pane-a{
    -fx-background-color: #f0f8ff;
}
#label.text{
    -fx-text-size: 16px;
}